@model Donation_Management_System_PassionProject.Models.DonorDto

@{
    ViewBag.Title = "New";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

<div class="container mt-5">
    <h2>Add Donor</h2>
    <form action="/Donor/Create" method="POST" class="mt-4">
        <div class="form-group">
            <label for="DonorName">Name:</label>
            <input type="text" class="form-control" id="DonorName" name="DonorName" required />
        </div>
        <div class="form-group">
            <label for="DonorEmail">Email:</label>
            <input type="email" class="form-control" id="DonorEmail" name="DonorEmail" required />
        </div>
        <button type="submit" class="btn btn-primary">Add Donor</button>
        <a href="/Donor/List" class="btn btn-secondary">Go back to List</a>
    </form>
</div>
